.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.leftContainer {
    background-color: #FFFFFF;
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textFrase {
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 64px;
}

.rightContainer {
    background-color: #EEEEEE;
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerContainerContato{
    position: absolute;
    top: 300vh;
    display: flex; 
    flex-direction: row;
    align-items: center;
    padding: 30px 0px 0px 0px;
}

.linksContainer {
    width: 50%;
    margin-top: 50px;
}

.linkContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.textLink {
    font-family: 'Titillium Web';
    font-size: 26px;
    font-weight: 200;
    text-decoration: none;
    color: #000000;
    margin-left: 40px;
}

.textLink:hover {
    color: #444444;
    opacity: 0.5;
}