.container {
    /* background-color: blue; */
    display: flex;
    flex: auto;
    flex-direction: row;
}

.leftContainer {
    background-color: #FFFFFF;
    width: 50%;
    height: 100vh;
    z-index: -1;
}

.imageContainer {
    background-image: url(../assets/perfil.jpg);
    background-position-x: center;
    background-position-y: 70%;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.rightContainer {
    background-color: #EEEEEE;
    width: 50%;
    z-index: -1;
}

.headerContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.textHeader {
    font-family: 'Titillium Web';
    font-weight: 200;
    font-size: 44px;
    line-height: 19px;
    margin: 0px 15px;
}

.contentContainer {
    height: fit-content;
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.textContent {
    text-align: center;
    width: 80%;
    font-family: 'Titillium Web';
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
}